<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="Surat App"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:supportsRtl="true"
        tools:targetApi="s">
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".LupaPasswordActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".surat.SuratKelahiran"
            android:exported="true">
        </activity>
        <activity
            android:name=".riwayat.RiwayatKelahiran"
            android:exported="true">
        </activity>
        <activity android:name=".SuratFragment" />
    </application>

</manifest>